<div class="markdown">
  <markdown mermaid [src]="'../../assets/Testing.md'"></markdown>
</div>

<markdown ngPreserveWhitespaces clipboard>
  ### Lists
  1. Ordered list
  2. Another bullet point
  - Unordered list
  - Another unordered bullet
  {{ '#working' | language: 'typescript' }}
</markdown>

<markdown [src]="'../../assets/markdownnofilter.md'" commandLine [prompt]="'PS C:\Users\Manoj>'"
  [filterOutput]="'(out)'">
</markdown>

<markdown [src]="'../../assets/markdown.md'" commandLine [prompt]="'PS C:\Users\Manoj>'" [filterOutput]="'(out)'">
</markdown>

<h1>
  Markdown working from template
</h1>
<markdown ngPreserveWhitespaces clipboard>
  ## Markdown __works__!
  ---
</markdown>

<h1>
  Markdown working from Component
</h1>

<markdown ngPreserveWhitespaces clipboard>
  {{someothervar}}
  {{ somevar | language: 'typescript' }}
</markdown>

<div [innerHTML]="markdowncode | markdown"></div>

<h1>
  Markdown working using src
</h1>
<markdown [src]="'../../assets/markdownsrc.md'"></markdown>